*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.jumbo{
    width: 100%;
    height: 90vh;
    background-image: url('./images/Guy-with-phone\ 6146927\ \(3\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(23, 28, 59, 0.479);
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbo h1{
    color: white;
    font-size: 48px;
    font-weight: 600;
    text-align: center;

}
.container-fluid{
    margin: 0;
    padding: 0;
}
.container{
    background-color: white;
    padding: 25px;
    width: 95%;
    border-radius: 10px;
}
#collapsableNavbar{
    justify-content: space-between;
}
.footer-div{
    background-color: black;
    padding-top: 10px;
    color: white;
    text-align: center;
    height: 11vh;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("./images/forest.jpg");
    background-repeat: repeat;
    background-blend-mode: soft-light;
    background-color: rgba(198, 198, 202, 0.541);
}
#h2{
   text-align: center;
   font-size: 35px;
}

.assurance{
    color: rgb(35, 114, 35);
    font-weight: 800;
}
.subhead{
    font-size: 16px;
    font-weight: 510;
}
.content::first-letter{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 6, 37);
    font-size: x-large;
}
strong{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(6, 6, 37);
}
.logo{
    font-weight: 800;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(197, 209, 224);
}
.img-logo{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.inputwidth{
    width: 100%;
}
thead{
    background-color: rgba(8, 8, 8, 0.89);
    text-align: center;
}
.invalidHeading{
    background-color: rgb(153, 3, 3);
    color: white;
    text-align: center;
    font-weight: 800;
    height: 70px;
    padding-top: 10px;
}
#invalid{
    padding: 5px;
}
 .hideOutput{
    display: none;
} 
.show{
    display: block;
}
.providerIcon{
    width: 45px;
    padding-left: 15px;
}